openapi: 3.1.2
info:
  title: ohmyho.st API
  version: 0.0.0
  description: Public REST API for ohmyho.st hosting, projects, domains, email, credits and exports.
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://app.ohmyho.st
    description: Production control API
  - url: https://dev.app.ohmyho.st
    description: Development control API
security:
  - BearerAuth: []
paths:
  /v1/me/profile:
    get:
      operationId: getAccountProfile
      summary: Read the current interactive user profile and signup attribution
      responses:
        "200":
          description: Authenticated account data.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountProfile" }
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/me/signup-source:
    put:
      operationId: recordSignupSource
      summary: Record the authenticated user signup source once
      description: Interactive session required; the first accepted source is immutable, repeat requests return it unchanged and no credits or Paid rights are granted by this endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [source]
              properties:
                source: { type: [string, "null"], minLength: 1, maxLength: 64 }
      responses:
        "200":
          description: Authenticated account data.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountProfile" }
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/organizations/{organization_id}/github:connect:
    post:
      operationId: connectGithubOrganization
      summary: Connect a GitHub installation to the workspace
      description: Owner or Admin connects once through one GitHub browser link. The original user session or user API key is bound to the thirty-minute authorization. Repeat the same request and key to observe its result. No provider credential is returned or retained.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConnectGithubOrganizationRequest" }
      responses:
        "201":
          description: Bound authorization handoff, replay status, or the existing connection.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GithubConnectionAuthorization" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-idempotency:
        canonicalRequestVersion: v1
        identicalRequest: replay-stored-response
        changedRequest: 409-idempotency-key-reused
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/organizations/{organization_id}/github:
    get:
      operationId: getGithubOrganizationConnection
      summary: Read the workspace GitHub connection
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Current workspace connection status.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GithubOrganizationConnectionStatus" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/organizations/{organization_id}/account:
    get:
      operationId: getOrganizationAccount
      summary: Read effective plan and monthly versus one-time credit balance
      parameters:
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Authenticated account data.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrganizationAccount" }
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/contact-requests:
    post:
      operationId: submitContactRequest
      summary: Submit a contact or privacy question
      description: Stores a private contact request for twelve months, with idempotent replay and no account creation or marketing enrollment.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name, email, company, message, idempotency_key]
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                email: { type: string, format: email, maxLength: 254 }
                company: { type: string, maxLength: 200, description: Empty for an individual. }
                message: { type: string, minLength: 1, maxLength: 8000 }
                idempotency_key: { type: string, format: uuid }
      responses:
        "202":
          description: Request durably received; repeat submissions with the same key do not create duplicates.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [accepted]
                properties:
                  accepted: { type: boolean, const: true }
        "400": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/site/feature-interests:
    parameters:
      - in: header
        name: X-Ohmyho-Voter
        required: true
        description: Random UUIDv4 identifying only this anonymous browser's votes; not an account credential or proof of a unique person. Keep it out of URLs and logs.
        schema:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
    get:
      operationId: getFeatureInterests
      summary: Read this anonymous browser's current roadmap votes
      security: []
      responses:
        "200":
          description: Current choices; a missing, removed or expired choice is null.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureVoteState"
        "400": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
    post:
      operationId: registerFeatureInterest
      summary: Set or remove this anonymous browser's roadmap vote
      description: Store a desired choice once per request key for twelve months. Replaying an earlier request never overwrites a later choice. A null choice removes the vote; this is not toggle-on-every-request behavior.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [feature, choice, idempotency_key]
              properties:
                feature: { type: string, enum: [eu, iso27001, soc2] }
                choice: { type: [string, "null"], enum: [up, down, null] }
                idempotency_key: { type: string, format: uuid }
      responses:
        "202":
          description: The request is persisted, with the browser's current state after this request or replay.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [accepted, votes]
                properties:
                  accepted: { type: boolean, const: true }
                  votes:
                    $ref: "#/components/schemas/FeatureVoteChoices"
        "400": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/site/stats:
    get:
      operationId: getPublicDeploymentStats
      summary: Read distinct active projects successfully deployed in the past seven days
      security: []
      responses:
        "200":
          description: Aggregate measurements without customer or repository identifiers.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [deploys_7d, observed_at]
                properties:
                  deploys_7d: { type: integer, minimum: 0 }
                  observed_at: { type: string, format: date-time }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/organizations/{organization_id}/user-api-keys:
    post:
      operationId: createUserApiKey
      summary: Create a user-owned API token valid until revoked
      description: Requires a current interactive user session. Organization membership and product permissions are revalidated. Only the first creation returns the full value; exact replay returns metadata and a null value. Save the first response locally without putting it in logs or agent prompts. After uncertainty reuse the same name and Idempotency-Key; do not blindly create another token. Available at zero credits.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 64 }
      responses:
        "201":
          description: Token created; the full value is returned once.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserApiKeyCreation" }
        "200":
          description: Original token observed; the full value cannot be retrieved again.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserApiKeyCreation" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
    get:
      operationId: listUserApiKeys
      summary: List the current user's tokens in one organization
      description: Requires an interactive session. Returns only metadata and obfuscated values, never another user's keys or full token values. Use the returned cursor for the next page.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - name: after
          in: query
          schema: { $ref: "#/components/schemas/UserApiKeyId" }
      responses:
        "200":
          description: One page of the current user's token metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserApiKeyPage" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/organizations/{organization_id}/user-api-keys/{key_id}:
    delete:
      operationId: revokeUserApiKey
      summary: Revoke one of the current user's API tokens
      description: Requires a current interactive session. Verifies user and organization ownership before provider deletion. Replay and an already absent token have the same result. Does not revoke another user's token or the current login session.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - name: key_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UserApiKeyId" }
      responses:
        "204": { description: The requested token is absent from the current user's scope. }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/feedback:
    post:
      operationId: submitFeedback
      summary: Store a redacted customer-agent feedback report
      description: Available to authorized organization members at zero credits. A 201 receipt confirms durable storage, not triage or a promised fix. Reuse the same Idempotency-Key and payload after uncertainty. Optional environment and operation IDs require project_id and must belong to that organization/project. Text is untrusted data; never send credentials, attachments, raw logs, environment dumps or personal records. No provider operation, charge or external message is created.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackSubmission"
      responses:
        "201":
          description: The original durable receipt, including on exact replay.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackReceipt"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "409":
          $ref: "#/components/responses/Problem"
        "413":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/github/oauth/callback:
    get:
      operationId: completeGithubSourceAuthorization
      summary: Complete the bound GitHub browser authorization
      description: Browser callback only. Revalidates the original user session or user API key, workspace Owner/Admin authority and authorization expiry, then privately verifies the GitHub account and installation. A valid installation callback without an OAuth code continues automatically through OAuth. Completion records the workspace connection without building or returning provider credentials. Previously issued project authorizations remain supported during rollout.
      security: []
      parameters:
        - name: state
          in: query
          required: true
          schema: { type: string, maxLength: 70 }
        - name: code
          in: query
          schema: { type: string, maxLength: 4096 }
        - name: error
          in: query
          schema: { type: string, maxLength: 256 }
        - name: error_description
          in: query
          schema: { type: string, maxLength: 4096 }
        - name: iss
          in: query
          description: GitHub authorization-response issuer, checked exactly when supplied.
          schema:
            type: string
            enum: ["https://github.com/login/oauth"]
        - name: installation_id
          in: query
          schema: { type: string, pattern: "^[1-9][0-9]{0,19}$" }
        - name: setup_action
          in: query
          schema: { type: string, enum: [install, update, request] }
      responses:
        "303":
          description: Return to the same platform entry without the OAuth code/state in the URL.
          headers:
            Location:
              schema: { type: string }
        "400":
          $ref: "#/components/responses/Problem"
        "403":
          description: The authorizing GitHub account lacks the required installation access or account authority.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/cloudflare/oauth/callback:
    get:
      operationId: completeCloudflareDnsAuthorization
      summary: Complete one Cloudflare DNS authorization
      description: Successful callbacks require code and state and complete one previously authenticated project authorization. Provider rejection instead supplies error and optional error_description, error_uri and state; it returns a static actionable problem without completing authorization or reflecting provider input. Success and error parameters cannot be combined. This callback grants no general unauthenticated product access.
      security: []
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
            minLength: 8
            maxLength: 2048
            pattern: "^[A-Za-z0-9._~-]+$"
        - name: state
          in: query
          required: false
          schema:
            type: string
            minLength: 16
            maxLength: 2048
            pattern: "^[A-Za-z0-9._~-]+$"
        - name: error
          in: query
          schema:
            type: string
            pattern: "^[a-z_]{1,64}$"
        - name: error_description
          in: query
          schema:
            type: string
            maxLength: 2048
        - name: error_uri
          in: query
          schema:
            type: string
            maxLength: 2048
      responses:
        "200":
          description: Authorization completed; the browser window may be closed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            text/html:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/me:
    get:
      operationId: getCurrentIdentity
      summary: Get the current authenticated identity
      description: Returns the stable ohmyhost actor and internal organization identifiers derived from the bearer credential.
      parameters:
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200":
          description: The current authenticated identity.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentIdentity"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/session:revoke:
    post:
      operationId: revokeCurrentSession
      summary: Revoke the current signed-in user session
      description: Revokes only the session proven by the bearer credential, confirms its absence from active WorkOS sessions and records local terminal denial. No organization is required. The request body and query must be empty; caller-supplied session or user identifiers are not accepted. Repeated private processing cannot revoke another session. Once revoked, the old bearer is no longer authorized, including for a public replay. This synchronous identity-lifecycle operation does not create a project operation.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Provider session revocation and local terminal denial are confirmed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [revoked]
                properties:
                  revoked:
                    type: boolean
                    const: true
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/organizations:
    post:
      operationId: createOrganization
      summary: Create an organization for the signed-in user
      description: Creates an organization and its creator's Owner membership. Only a verified user session may call this endpoint; no existing organization is required. Repeating the same Idempotency-Key and name observes the same creation, never recreating revoked membership. Creation does not change the caller's token, because organization scope is carried by the access token; a client must obtain a token for this organization before project mutations. The CLI and MCP do that in the same call and need no second login.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: Idempotency-Key
          in: header
          required: true
          description: Stable creator-scoped key; repeat unchanged to observe an incomplete creation.
          schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: "^[A-Za-z0-9._:-]+$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationRequest"
      responses:
        "201":
          description: Organization and Owner membership are persisted. Idempotent replay returns the same identity.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "409":
          $ref: "#/components/responses/Problem"
        "413":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/organizations/{organization_id}/billing/checkouts:
    post:
      operationId: createBillingCheckout
      summary: Create or resume an owner's hosted Stripe Checkout
      description: Returns a human payment URL, never charges a saved card. Paid is USD 10/month; each top-up pack is USD 10 before tax; a purchase grants 100 credits per dollar up to USD 100 and 125 credits per dollar for the part above, so 10 packs grant 10000 and 20 packs grant 22500 non-expiring credits. Retry the same offer, packs and Idempotency-Key after uncertainty. Browser return is not payment proof; read this checkout and the organization balance. A conflicting or existing subscription returns billing_purchase_conflict (409); read the original checkout or request an owner billing portal URL instead of another purchase. Works at zero credits.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [offer, packs]
              properties:
                offer: { type: string, enum: [topup, paid] }
                packs:
                  {
                    type: integer,
                    minimum: 1,
                    maximum: 100,
                    description: Paid requires exactly one pack.,
                  }
      responses:
        "201":
          description: Original checkout and its current provider-observed status.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BillingCheckout" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/organizations/{organization_id}/billing/checkouts/{checkout_id}:
    get:
      operationId: getBillingCheckout
      summary: Observe and reconcile an owner's original checkout
      description: Reads Stripe and reconciles confirmed credits/refunds idempotently. payment_confirmed describes the original Checkout, not spendable credit or current Paid entitlement. Read organization credits for available funding; paid_until is the current paid coverage. No new purchase intent or payment is created; an uncertain original Checkout can resume using its stored identity.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - name: checkout_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Current observed checkout and credit reconciliation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BillingCheckout" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/organizations/{organization_id}/billing/portal:
    post:
      operationId: createBillingPortal
      summary: Open the owner's Stripe billing portal
      description: Creates a short-lived human URL for invoices, payment method updates and cancellation at period end. Does not charge or change the subscription itself. Customer and return URL are server-selected. Request a fresh URL if the portal has expired. Works at zero credits.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false }
      responses:
        "200":
          description: Short-lived portal URL; do not log it or commit it as evidence.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BillingPortal" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/organizations/{organization_id}/billing/recharge:
    get:
      operationId: getBillingRecharge
      summary: Read auto-recharge and the current payment handoff
      description: Owner-only. Reads saved consent and gross UTC-month spending; a pending Stripe card setup may be resumed. No charge is initiated by reading. Private Stripe URLs must not be logged.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Actual recharge settings; disabled by default.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BillingRecharge" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
    put:
      operationId: configureBillingRecharge
      summary: Enable or disable explicitly authorized auto-recharge
      description: Owner-only. An agent must obtain explicit approval for off-session charges and the gross monthly spending cap before enabling. Each refill costs USD 9 before tax for 1000 non-expiring credits when available credits fall below 100. A saved Stripe card is required; follow setup_url if returned. Current revision prevents stale edits; retry the original Idempotency-Key and payload after uncertainty. Disable prevents new charge initiation; already initiated payments may complete. No subscription or Paid features are created.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - name: organization_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [enabled, monthly_limit_minor, consent, revision]
              properties:
                enabled: { type: boolean }
                monthly_limit_minor:
                  {
                    type: integer,
                    minimum: 1000,
                    maximum: 100000,
                    description: Gross USD cents per UTC calendar month including tax.,
                  }
                consent:
                  {
                    type: [string, "null"],
                    enum: [off_session_v1, null],
                    description: Explicit Owner consent when enabling; null when disabling.,
                  }
                revision: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Saved policy and optional Stripe card setup.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BillingRecharge" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/organizations/{organization_id}/credits:
    get:
      operationId: getOrganizationCredits
      summary: Read the owner's shared organization credit pool
      description: Returns posted credits and reservations, in microcredits (one credit is 1000000 microcredits). Monthly entitlement posting is idempotent. Only the organization Owner may read this balance. active_meters names the currently billed sources; unreported usage is not included. platform_overrun_micros is recorded platform exposure, not customer debt. Remains available at zero credit.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
      responses:
        "200":
          description: Current organization credit balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationCredits"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/organizations/{organization_id}/credit-usage:
    get:
      operationId: getOrganizationCreditUsage
      summary: Read monthly measured usage by project and meter
      description: Owner-only event-month ledger totals, including signed corrections posted by as_of. Returns up to 20 projects per page in ID order; use next_cursor with the same month. Current unresolved reservations are separate from measured consumption. Null environment_id means project-shared cost, never guessed Dev allocation. Only posted measurements are included; this is not a complete provider invoice or zero-usage guarantee. Billing may arrive later. No credit is granted or charged by this read; it remains usable at zero credits.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: organization_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
        - name: month
          in: query
          required: true
          schema:
            type: string
            pattern: "^20[0-9]{2}-(0[1-9]|1[0-2])$"
        - name: cursor
          in: query
          schema:
            $ref: "#/components/schemas/Ulid"
      responses:
        "200":
          description: Current posted usage for the selected UTC month and project page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationCreditUsage"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/projects/{project_id}/exports:
    post:
      operationId: createProjectExport
      summary: Request an asynchronous password-encrypted SQL ZIP
      description: Owner-only and available at zero credits. Exports each confirmed physical project database once, including separate Dev/Prod SQL or one shared SQL file. Excludes files, source code and configuration. At most one accepted export per project per rolling 24 hours; failed jobs still count and idempotent replay returns the original operation. The user retains the password. Poll getProjectExport; do not create another job while it is running.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [password]
              properties:
                password:
                  type: string
                  minLength: 1
                  maxLength: 1024
                  writeOnly: true
                  description: Non-blank user-controlled ZIP password, at most 1024 UTF-8 bytes. Never include it in logs or command-line arguments.
      responses:
        "202": { $ref: "#/components/responses/AcceptedOperation" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "429":
          description: Project export limit reached, or an ordinary API rate limit. Retry-After gives the delay before another attempt.
          headers:
            Retry-After:
              schema: { type: integer, minimum: 1 }
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/ProblemDetails" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/projects/{project_id}/exports/{export_id}:
    get:
      operationId: getProjectExport
      summary: Read export progress and its verified 24-hour download capability
      description: Owner-only, including at zero credits. Poll queued/running jobs after next_poll_after_seconds. A verified SQL ZIP is retained seven days. Its signed download URL is valid 24 hours and is issued only with at least 24 hours of retention left; otherwise download fields are null. Treat the URL as a secret bearer capability. Neither the password nor any permanent storage credential can be retrieved. Generic operation reads never contain this capability.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RequestId"
        - name: export_id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Current export state and optional verified SQL ZIP download.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectExport" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/projects/{project_id}/credit-budget:
    get:
      operationId: getProjectCreditBudget
      summary: Read a project's optional monthly credit budget
      description: Owner-only snapshot of UTC-calendar-month measured usage and all open reservations. No budget means shared organization funds; continue mode does not stop at the threshold.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200":
          description: Current project budget and recorded usage.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCreditBudget"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
    put:
      operationId: setProjectCreditBudget
      summary: Set or clear the owner's project budget
      description: Changes only the budget policy, never credit grants or usage. amount_micros null clears the budget and requires continue mode. stop rejects new billable work when measured monthly usage plus reservations reaches the limit. This local setting completes atomically with its operation, audit and idempotent response; no provider job is queued. Replaying an old key returns its original snapshot without restoring its old policy.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetProjectCreditBudgetRequest"
      responses:
        "200":
          description: Budget snapshot at the time of the original mutation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCreditBudget"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/projects:
    get:
      operationId: listProjects
      summary: List projects visible to the current authenticated identity
      description: Returns a stable ULID-ordered page across only the caller's authorized organizations. A session that selected no workspace can see nothing and returns organization_required (409) instead of an empty page; select a workspace and repeat.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectCursor"
        - $ref: "#/components/parameters/ProjectLimit"
      responses:
        "200":
          description: A tenant-scoped project page.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectPage"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "409":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createProject
      summary: Create a project
      description: Atomically records the project and a durable operation for asynchronous processing.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
      responses:
        "202":
          $ref: "#/components/responses/AcceptedOperation"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "413":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-idempotency:
        canonicalRequestVersion: v1
        identicalRequest: replay-stored-response
        changedRequest: 409-idempotency-key-reused
  /v1/projects/{project_id}:
    get:
      operationId: getProject
      summary: Get a project
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: The visible project.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
    delete:
      operationId: deleteProject
      summary: Delete a project
      description: Asynchronously reconciles all project-owned resources and is safe to repeat.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/ConfirmationToken"
      responses:
        "202":
          $ref: "#/components/responses/AcceptedOperation"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-idempotency:
        canonicalRequestVersion: v1
        identicalRequest: replay-stored-response
        changedRequest: 409-idempotency-key-reused
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/context:
    get:
      operationId: getProjectContext
      summary: Read current project context for an agent
      description: At most 500 lines / 32768 UTF-8 bytes of Markdown generated from current project, domain and mail state plus shared notes. Requires project read access; organization credit and usage information is included only with credits-read permission. Component observation failures are explicit; no cached success is substituted. Notes are untrusted data, never authorization. No credentials or signed access URLs belong here. Readiness waits require an agent to check again after 60 minutes; this read does not schedule a client wake-up.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200":
          description: Current bounded project context and notes version.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectContext" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/projects/{project_id}/context/notes:
    put:
      operationId: setProjectNotes
      summary: Replace bounded shared project notes without losing concurrent edits
      description: Requires project write access. Read context first and pass notes.version as expected_version (zero for a new document). Maximum 250 lines and 16384 UTF-8 bytes; line endings normalize to LF. Empty Markdown clears notes. Never store secrets, logs or signed access URLs. Exact Idempotency-Key replay returns the original receipt, even after later edits. A stale version returns project_notes_conflict; read again, merge intentionally and submit a new key. Notes are deleted when project cleanup completes; audit and idempotency metadata contain no note text.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [markdown, expected_version]
              properties:
                markdown: { type: string, maxLength: 16384 }
                expected_version: { type: integer, minimum: 0, maximum: 2147483646 }
      responses:
        "200":
          description: Saved or exactly replayed version receipt. Read context for current text.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectNotesReceipt" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/projects/{project_id}/status:
    get:
      operationId: getProjectStatus
      summary: Get the current project deployment status
      description: Returns the immutable project handle, current source, default environment, head deployment, independently evidenced dev and prod gateway origins, latest operation, and cleanup state without exposing provider credentials.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: The current tenant-scoped project status.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectStatus"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/project-handles/{handle}:
    get:
      operationId: getProjectHandleAvailability
      summary: Check whether a project handle is free
      description: Reports whether a handle can be used for a project and why not when it cannot, with free alternatives an agent can offer. A handle is one to five lowercase words of letters and digits separated by single hyphens, three to fifty-nine characters, and never one of the reserved words. Availability is answered across all projects without revealing which organization holds a taken handle.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - name: handle
          in: path
          required: true
          description: The handle a customer would like to use.
          schema:
            type: string
            minLength: 1
            maxLength: 120
      responses:
        "200":
          description: Whether the handle is usable, and alternatives when it is not.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectHandleAvailability"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /v1/projects/{project_id}/dev-share-link:
    post:
      operationId: ensureProjectDevShareLink
      summary: Get or create the persistent Dev share link
      description: Owner-only. Repeated calls return the same protected Dev link until it is rotated or revoked. The link is a bearer credential without automatic expiry.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Current Dev access mode and owner-only share link.
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevAccessState" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
    delete:
      operationId: revokeProjectDevShareLink
      summary: Revoke the Dev share link and active sessions
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Dev share link revoked.
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevAccessState" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/projects/{project_id}/dev-share-link:rotate:
    post:
      operationId: rotateProjectDevShareLink
      summary: Rotate the persistent Dev share link
      description: Owner-only. Reusing the same idempotency key returns the current rotated link; rotating invalidates previous links and sessions immediately.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: New Dev share link.
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevAccessState" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/projects/{project_id}/dev-access-mode:
    put:
      operationId: setProjectDevAccessMode
      summary: Select public or protected Dev access
      description: Owner-only. Public Dev needs no platform access link; switching back to protected creates a fresh link and invalidates earlier sessions.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SetDevAccessModeRequest" }
      responses:
        "200":
          description: Current Dev access mode and owner-only share link.
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevAccessState" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/projects/{project_id}/dev-access-tickets:
    post:
      operationId: createProjectDevAccessTicket
      summary: Create a single-use dev access ticket
      description: Owner-only issuance of a one-hour single-use ticket for the immutable dev project origin. A new ticket revokes unused tickets previously issued to the same principal.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "201":
          description: A single-use dev access URL. Credential material is returned once and is never persisted in plaintext.
          headers:
            Cache-Control:
              schema:
                type: string
                const: no-store
            Pragma:
              schema:
                type: string
                const: no-cache
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DevAccessTicket"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}:delete-plan:
    post:
      operationId: planProjectDeletion
      summary: Plan project deletion
      description: Produces a non-mutating project deletion plan and a ten-minute action-bound confirmation token.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: A non-mutating project deletion plan.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuardedActionPlan"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/source:link:
    post:
      operationId: linkProjectSource
      summary: Link a GitHub source repository
      description: Uses the workspace GitHub connection to admit a source-link operation without another browser authorization or a build. The caller must have current sources:link permission and the connected installation must cover the repository. If the workspace is not connected, run github connect first; if repository access is missing, update the installation through its settings URL. Repeat identical arguments and key after uncertainty.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkProjectSourceRequest"
      responses:
        "202":
          $ref: "#/components/responses/AcceptedOperation"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-idempotency:
        canonicalRequestVersion: v1
        identicalRequest: replay-stored-response
        changedRequest: 409-idempotency-key-reused
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/source:
    get:
      operationId: getProjectSource
      summary: Get the linked source status
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: The current GitHub source connection and status.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSource"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/source/auto-deploy:
    put:
      operationId: configureProjectSourceAutoDeploy
      summary: Configure automatic GitHub push deployment
      description: Configures exactly one Git branch whose signed pushes deploy immutable commits to dev. Production remains an explicit promotion.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigureSourceAutoDeployRequest"
      responses:
        "200":
          description: The current automatic deployment configuration.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceAutoDeploy"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
    get:
      operationId: getProjectSourceAutoDeploy
      summary: Get automatic GitHub push deployment status
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: The current automatic deployment configuration and grant status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceAutoDeploy"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/cloudflare-dns/authorization:
    post:
      operationId: createCloudflareDnsAuthorization
      summary: Start project-scoped Cloudflare DNS authorization
      description: Creates or replays one short-lived authorization URL for the customer Cloudflare zone bound to the project's Paid domain. Pending requests replay the original handoff. Expired or consumed requests return cloudflare_authorization_closed (409); read current DNS authorization status and reuse a valid matching grant, or request a fresh authorization with a new key. No provider credential is returned.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCloudflareDnsAuthorizationRequest"
      responses:
        "201":
          description: A short-lived Cloudflare authorization URL.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareDnsAuthorization"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/Problem"
        "413":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-idempotency:
        canonicalRequestVersion: v1
        identicalRequest: replay-stored-response
        changedRequest: 409-idempotency-key-reused
        closedAuthorization: 409-cloudflare-authorization-closed
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/cloudflare-dns:
    get:
      operationId: getCloudflareDnsAuthorizationStatus
      summary: Get project-scoped Cloudflare DNS authorization status
      description: Returns only the fixed zone, closed scope set, expiry, and authorization state; provider credentials are never exposed.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: The current credential-free Cloudflare DNS authorization status.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareDnsAuthorizationStatus"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/handle:
    put:
      operationId: changeProjectHandle
      summary: Move a project to a chosen address
      description: Starts a durable operation that re-publishes the project's Dev and Prod gateways at the chosen address and stores it only once both serve it. The previous address stops answering and returns to the pool for any project to claim. Ask GET /v1/project-handles/{handle} first; a taken, unusable or unchanged address is refused before any gateway moves, and a project with an operation in flight is refused until it finishes.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [handle]
              properties:
                handle:
                  type: string
                  minLength: 3
                  maxLength: 59
                  pattern: "^[a-z0-9]+(?:-[a-z0-9]+){0,4}$"
                  description: One to five lowercase words of letters and digits.
      responses:
        "202":
          $ref: "#/components/responses/AcceptedOperation"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-idempotency:
        canonicalRequestVersion: v1
        identicalRequest: replay-stored-response
        changedRequest: 409-idempotency-key-reused
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/domains:
    put:
      operationId: configureProjectDomains
      summary: Apply the server-derived project domains
      description: Starts an idempotent durable operation for the exact project-derived development, production, and mail hostnames. The request has no body.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          $ref: "#/components/responses/AcceptedOperation"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-idempotency:
        canonicalRequestVersion: v1
        identicalRequest: replay-stored-response
        changedRequest: 409-idempotency-key-reused
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/paid-domain:plan:
    post:
      operationId: planPaidProjectDomain
      summary: Plan one Paid customer-owned hostname
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PaidDomainRequest" }
      responses:
        "200":
          description: Manual CNAME instructions and exact provider effects.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaidDomainPlan" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/paid-domain:
    put:
      operationId: applyPaidProjectDomain
      summary: Apply one Paid customer-owned hostname
      description: Requires a confirmed current Paid service period and no expired credit-exhaustion grace. Returns paid_plan_required without a Paid period, or insufficient_organization_credits after seven days with no available credits, without provider mutation. Top-ups restore exhausted Paid access but do not create or extend a Paid service period.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PaidDomainRequest" }
      responses:
        "200":
          description: Current Cloudflare for SaaS hostname and certificate state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaidDomain" }
        "402": { $ref: "#/components/responses/Problem" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/IdempotencyConflict" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
    get:
      operationId: getPaidProjectDomain
      summary: Read the Paid customer-owned hostname
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Current credential-free hostname, CNAME and certificate state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaidDomain" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
    delete:
      operationId: deletePaidProjectDomain
      summary: Delete one exact Paid customer-owned hostname
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PaidDomainRequest" }
      responses:
        "200":
          description: Exact route and custom hostname are absent.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaidDomain" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/IdempotencyConflict" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found

  /v1/projects/{project_id}/deployments:plan:
    post:
      operationId: planDeployment
      summary: Plan a deployment
      description: Resolves immutable inputs and estimates effects without provider mutation or billable work. The plan targets Dev unless `environment` is `prod`; a Prod plan builds straight into Prod, except that a project with shared data and a database only reaches Prod through promotion. Mail and the currently supported mail-backed Better Auth contract require a confirmed Paid service period; it is checked again before build reservation. An old sender configuration is not Paid authority.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanDeploymentRequest"
      responses:
        "200":
          description: A deployment plan valid for 24 hours.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentPlan"
        "402":
          $ref: "#/components/responses/Problem"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/deployments:
    post:
      operationId: createDeployment
      summary: Create a deployment
      description: Reserves the quoted build credits from the shared organization pool and starts the exact reviewed plan as one durable operation. Insufficient available credits or an explicit project stop budget rejects before operation creation or provider work. Repeating the accepted request never reserves twice.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDeploymentRequest"
      responses:
        "202":
          $ref: "#/components/responses/AcceptedOperation"
        "402":
          $ref: "#/components/responses/Problem"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-idempotency:
        canonicalRequestVersion: v1
        identicalRequest: replay-stored-response
        changedRequest: 409-idempotency-key-reused
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
    get:
      operationId: listDeployments
      summary: List deployments
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DeploymentCursor"
        - $ref: "#/components/parameters/DeploymentLimit"
      responses:
        "200":
          description: One page of project deployments in stable descending order.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentPage"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/deployments/{deployment_id}:
    get:
      operationId: getDeployment
      summary: Get deployment status
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DeploymentId"
      responses:
        "200":
          description: The deployment and its current status.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deployment"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/deployments/{deployment_id}/logs:
    get:
      operationId: getDeploymentLogs
      summary: List normalized deployment diagnostics
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DeploymentId"
        - name: cursor
          in: query
          schema: { type: string, maxLength: 2048 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 100 }
      responses:
        "200":
          description: Tenant-scoped normalized diagnostic page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeploymentDiagnosticPage" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/deployments/{deployment_id}/logs/events:
    get:
      operationId: streamDeploymentLogs
      summary: Stream normalized deployment diagnostics
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DeploymentId"
      responses:
        "200":
          description: A bounded normalized diagnostic event stream.
          content:
            text/event-stream:
              schema: { $ref: "#/components/schemas/DeploymentDiagnostic" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/database/compute:
    post:
      operationId: changeDatabaseCompute
      summary: Select standard or Paid performance database compute
      description: Requires project-write access and explicit confirmation. Reads the organization plan at acceptance (Free 0.25 CU/1 GB/60 idle seconds or Paid 0.5 CU/2 GB/60 idle seconds). Changes the existing database in place without copying or resetting data. Shared Dev/Prod data changes both environments. A brief connection interruption is possible. Poll the returned operation every 60 seconds; do not submit a second change while it runs. Completion requires actual provider settings and settled operations. Actual CU consumption remains metered. Performance requires effective Paid access and an active rate; it selects fixed 1 CU/4 GB/300 idle seconds at 2.5 times Paid-standard database compute credits per equal active minute. Only database compute changes price. Raw CU-second measurements are preserved; mixed or uncertain transition hours waive the premium. Returning to standard restores the effective plan size.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [environment, profile, confirm]
              properties:
                environment: { type: string, enum: [dev, prod] }
                profile: { type: string, enum: [standard, performance] }
                confirm: { type: boolean, const: true }
      responses:
        "202": { $ref: "#/components/responses/AcceptedOperation" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
    get:
      operationId: getDatabaseCompute
      summary: Read actual managed database compute configuration
      description: Project readers can observe current Dev or Prod compute without receiving provider IDs or credentials and without executing SQL or waking the database. Explicitly shared data resolves to the same physical database for both environments. A null database means the owned environment has no confirmed managed placement. Provider failures return a problem, never invented defaults. Configuration describes observed settings, not a completed resize operation. suspend_timeout_seconds is the configured provider value; 0 means provider default and -1 means never suspend.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RequestId"
        - name: environment
          in: query
          schema: { type: string, enum: [dev, prod], default: dev }
      responses:
        "200":
          description: Fresh, tenant-scoped compute observation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DatabaseCompute" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/projects/{project_id}/database/write:
    post:
      operationId: writeProjectDatabase
      summary: Execute one bounded database write in Dev or Prod
      description: Owner-authorized INSERT, UPDATE or DELETE through the restricted runtime role, including ordinary upsert. Environment is mandatory. One direct statement and transaction, five-second timeout and at most 1000 directly affected rows; customer triggers and cascades may affect more rows. Rows are not returned. The durable Idempotency-Key receipt persists until project deletion. Same-key retries observe the original execution attempt; unknown outcomes never automatically execute again. Inspect target data before deliberately choosing a new key. Schema changes use GitHub migrations. Database compute is metered normally and existing credit grace and Stop budgets apply. Application row-level security policies remain effective for writes.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProjectDatabaseWriteRequest" }
      responses:
        "200":
          description: Terminal receipt; failed state is not a successful write.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectDatabaseWriteReceipt" }
        "202":
          description: The same write is in progress. Poll the existing operation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectDatabaseWriteReceipt" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "402": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/database/query:
    post:
      operationId: queryProjectDatabase
      summary: Run one bounded read-only Dev or Prod database query
      description: Executes one SELECT through the project's least-privilege read-only role. Application row-level security policies apply and may filter rows; a complete SQL archive uses the separate authorized export workflow. Connection credentials are never returned.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProjectDatabaseQueryRequest" }
      responses:
        "200":
          description: At most 100 JSON rows from the selected project database.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectDatabaseQueryResult" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/database/access:
    post:
      operationId: createProjectDatabaseAccess
      summary: Issue one time-bound PostgreSQL credential for Dev or Prod
      description: Owner-authorized direct PostgreSQL login for the project's own database, returned exactly once and never retrievable again. Mode read joins the read-only role, mode write joins the same restricted runtime role the application uses; neither can change schema, and application row-level security policies remain effective. The lifetime is 5 minutes to 24 hours (3600 seconds by default) and PostgreSQL refuses new logins after it; the platform ends remaining sessions within 15 minutes after expiry, at the latest. At most three active credentials exist per project environment. Database compute wakes and is metered normally, and existing credit grace and Stop budgets apply. Revoke the credential as soon as the work is finished and never store the connection URI in files, notes or source.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProjectDatabaseAccessRequest" }
      responses:
        "201":
          description: The connection URI is returned once and is never persisted in plaintext.
          headers:
            Cache-Control:
              schema:
                type: string
                const: no-store
            Pragma:
              schema:
                type: string
                const: no-cache
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectDatabaseAccessCredential" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "402": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
    get:
      operationId: listProjectDatabaseAccess
      summary: List the project's issued database credentials
      description: Returns at most the 50 newest credentials with their derived state (active, expired or revoked). Connection URIs and passwords are never returned again; only the credential metadata is readable.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DatabaseEnvironmentFilter"
      responses:
        "200":
          description: The newest database credentials for this project, newest first.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectDatabaseAccessPage" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/database/access/{access_id}:
    delete:
      operationId: revokeProjectDatabaseAccess
      summary: Revoke one issued database credential
      description: Ends the credential's open sessions and removes its PostgreSQL role. Revocation is idempotent for an already revoked credential and never affects the application's own roles or any data.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DatabaseAccessId"
      responses:
        "200":
          description: The revoked credential record without any connection URI.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectDatabaseAccess" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/ResourceNotFound" }
        "429": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/deployments/{target_deployment_id}:rollback-plan:
    post:
      operationId: planDeploymentRollback
      summary: Plan a deployment rollback
      description: Produces a non-mutating rollback plan for an immutable deployment artifact.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TargetDeploymentId"
      responses:
        "200":
          description: A rollback plan with a ten-minute action-bound confirmation token.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuardedActionPlan"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
      x-ohmyhost-resource-disclosure: indistinguishable-not-found
  /v1/projects/{project_id}/deployments/{target_deployment_id}:rollback:
    post:
      operationId: rollbackDeployment
      summary: Roll back to an immutable deployment
      description: Republishes the target deployment artifact without starting a new build.
      parameters:
        - $ref: "#/components/parameters/RequestId"
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TargetDeploymentId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/ConfirmationToken"
      responses:
        "202":
          $ref: "#/components/responses/AcceptedOperation"
[...]
